@font-face {
	font-family: FontAwesome;
	src: url("../fonts/letoSans/LetoSans.woff2") format("woff2"),
		 url("../fonts/letoSans/LetoSans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.description__text-top {
	display: inline-block;
	margin-top: 40px;
	font-size: 26px;
	font-family: FontAwesome;
}

.description__text-bot {
	display: inline-block;
	margin-top: 26px;
	margin-bottom: 60px;
	font-size: 18px;
}
